<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css links  -->
    <link rel="stylesheet" href="/css/viewportfix.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <title>Welcome <%= name %></title>
    <!-- scripts  -->
    <script src="/js/viewportfix.js"></script>
</head>

<body>
    <main class="d-flex flex-column container p-3 my-element" style="overflow: hidden">

        <section style="height: 10%; overflow: hidden;">
            <div class="d-flex">
                <div class="p-1">
                    <span class='main-logo'></span>
                </div>
                <div class="d-flex flex-column w-100 p-2">
                    <div class="mb-0 font-weight-bold"><%= streak %> Days streak</div>
                    <div class="mb-0"><%= medals %> Medals</div>
                </div>
                <p class="ml-auto p-1"><span class="beard-logo"></span></p>
            </div>
        </section>

        <section style="height: 75%; overflow: scroll;">
            <form action="/update_task" class="d-inline">
            <% for(let task of tasks) { %>
            <div class="d-flex mt-1 align-items-center" style="overflow-y: scroll;">
                    <div class="p-2" style="max-width: 5em;"><img src="/icons/<%= task.goalIcon %>.png" alt="no" width="40px"
                            height="40px"> </div>
                    <div class="d-flex flex-column w-100 p-2">
                        <div><%= task.goalName %></div>
                        <div>0/<%= task.goalRepeatNo %></div>
                    </div>
                    <button type="submit" class="btn"><span class="add-icon"></span></button>
                </div>
                <% } %>
            </form>
        </section>

        <!-- The main button  -->
        <section class="d-flex flex-column justify-content-center" style="height: 10%; overflow: hidden;">
            <form action="./add_daily_goal_1" class="text-center" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="submit" value="Add Daily Goal" class="btn btn-info btn-block rounded-0">
            </form>
        </section>

        <!-- Botton navigation bar is here  -->
        <section style="height: 5%;">
            <div class="d-flex justify-content-center">
                <div>GiftIcon</div>
                <div>|||</div>
                <div>settings</div>
            </div>
        </section>

    </main>
</body>

</html>